.code {
  counter-reset: line;
}

.code .line {
  display: flex;
}

.code .line:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  padding-right: 1em;
}

.code .active,
.code .line:hover:before {
  color: #f00;
}
