.code {
  counter-reset: line;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  background-color: var(--blackAlpha80);
  color: var(--white);
}

.code .peek {
  background-color: var(--white);
  color: var(--black);
  padding: var(--space-small);
}

.code .line {
  display: flex;
  align-items: flex-start;
}

.code .line:before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  padding-right: 1em;
}

.code .active,
.code .line:hover:before {
  color: #f00;
}

.annotation {
  background-color: var(--blue900);
}
